vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Oct 2012 07:24:49 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Honza-PC\\Honza
vti_modifiedby:SR|Honza-PC\\Honza
vti_timecreated:TR|02 Apr 2012 20:48:46 -0000
vti_nexttolasttimemodified:TR|21 Oct 2012 13:01:48 -0000
vti_cacheddtm:TX|28 Oct 2012 07:24:49 -0000
vti_filesize:IR|979
vti_backlinkinfo:VX|korenarka/admin/metoda.php korenarka/admin/sprava.php
